:root {
  --color-dark-grey: rgba(41, 61, 90, 0.99);
  --color-medium-grey: rgba(136, 146, 176, 0.3);
  --color-light-grey: rgb(168, 178, 209);
  --color-white: #fff;
  --color-black: #000;
  --color-translucent-black: rgba(0, 0, 0, 0.1);
  --color-translucent-white: rgba(255, 255, 255, 0.1);

  --size-xl: 16rem;
  --size-l: 8rem;
  --size-m: 4rem;
  --size-s: 2rem;
  --size-xs: 1rem;
  --size-xxs: 0.5rem;

  --font-size-xl: 2.4rem;
  --font-size-l: 2rem;
  --font-size-m: 1.6rem;
  --font-size-s: 1.4rem;
  --font-size-xs: 1.2rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--color-white);
  color: var(--color-dark-grey);
  line-height: 1.6rem;
  height: 100%;
  font-family: 'Source Code Pro', monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
