html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #fff;
  color: #434343;
  line-height: 1.6;
  height: 100%;
  font-family: 'Source Code Pro', monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  flex: 1 1 15%;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1 1 85%;
  padding: 1rem 2rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer {
  flex: 1 1 100%;
}

ul {
  list-style: none;
}

svg {
  fill: currentColor;
  width: 2rem;
  height: 2rem;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: rgba(41, 61, 90, 0.99);
  display: inline-block;
}

.wrapper {
  height: 100%;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header .avatar {
  width: 15rem;
  height: 15rem;
}

.avatar .avatar__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 0.2rem solid rgba(41, 61, 90, 0.99);
  padding: 0.5rem;
}

main .profile {
  flex: 1 1 25%;
}

.profile__details h1,
h2 {
  font-weight: 400;
}

.profile__details .title {
  font-size: 2rem;
}

.profile__details .subtitle {
  font-size: 1.2rem;
}

.profile__experience {
  padding-top: 2rem;
}

.profile__experience__heading {
  font-weight: 600;
}

.profile__experience .technologies .technology {
  font-size: 1.2rem;
}

main .projects-slider {
  flex: 1 1 75%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10rem repeat(2, 20rem) minmax(5rem, max-content) 10rem;
}

.project {
  grid-column: 2 / 13;
  grid-row: 2 / 5;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 5rem) minmax(5rem, max-content);
}

.project__image-container {
  grid-column: 1 / -2;
  grid-row: 1 / 11;

  border-radius: 0.5rem;
  box-shadow: 0 1rem 0.7rem 0.2rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.project__image-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(136, 146, 176, 0.3);
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: cover;
}

.project__content {
  grid-column: 6 / -1;
  grid-row: 6 / -1;

  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 0.7rem 0.2rem rgba(0, 0, 0, 0.1);
  background-color: rgba(41, 61, 90, 0.99);
  color: rgb(168, 178, 209);
  z-index: 1;
}

.project__content .header {
  display: flex;
}

.project__content .header .icons {
  margin-left: auto;
}

.project__content .header .icons a {
  color: rgb(168, 178, 209);
}

.project__content .header .icons svg {
  margin: 0 0.3rem;
}

.project__content .header .title {
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
}

.project__content .description {
  padding: 1rem 0;
  font-size: 1.6rem;
}

.project__content .technologies {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.project__content .technologies .technology {
  padding: 0.1rem 0.5rem;
  margin: 0.2rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(100, 114, 161);
  border-radius: 1rem;
  font-size: 1.4rem;
}

.projects-slider .controllers {
  grid-column: 12 / span 1;
  grid-row: 2 / span 1;
  justify-self: center;
}

.controllers .control {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  background-color: #eee;
  transition: background-color 0.6s ease;
}

.control.active {
  background-color: rgba(41, 61, 90, 0.99);
}

.contact {
  grid-column: 1 / -1;
  color: rgba(41, 61, 90, 0.99);
  display: flex;
  align-items: center;
}

.contact svg {
  margin-right: 2rem;
}

.contact .line {
  width: 10rem;
  height: 0.1rem;
  background-color: rgba(41, 61, 90, 0.99);
  margin-right: 2rem;
}

.line.start {
  width: 2rem;
}

.line.end {
  flex: 1;
}

.arrow {
  grid-column: 6 / 8;
  align-self: center;
  justify-self: center;

  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  color: rgba(41, 61, 90, 0.99);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow svg {
  width: 3rem;
  height: 3rem;
}

.arrow:hover {
  background-color: #efefef;
}

.arrow.top {
  grid-row: 1 / span 1;
  color: rgba(41, 61, 90, 0.99);
}

.arrow.bottom {
  grid-row: 5 / span 1;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* media queries */
@media (max-width: 970px) {
  main {
    flex-direction: column;
  }
}
