html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #434343;
  line-height: 1.6;
  height: 100vh;
  font-family: 'Source Code Pro', monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  flex: 1 1 15%;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1 1 85%;
  padding: 1rem 2rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer {
  flex: 1 1 100%;
}

ul {
  list-style: none;
}

svg {
  fill: currentColor;
  width: 2rem;
  height: 2rem;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: rgba(41, 61, 90, 0.99);
  display: inline-block;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

header .avatar {
  width: 15rem;
  height: 15rem;
}

.avatar .avatar__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 0.2rem solid rgba(41, 61, 90, 0.99);
  padding: 0.5rem;
}

main .profile {
  flex: 1 1 25%;
}

.profile__details h1,
h2 {
  font-weight: 400;
}

.profile__details .title {
  font-size: 2rem;
}

.profile__details .subtitle {
  font-size: 1.2rem;
}

.profile__experience {
  padding-top: 2rem;
}

.profile__experience .heading {
  font-weight: 600;
}

.profile__experience .technologies .technology {
  font-size: 1.2rem;
}

main .projects-slider {
  flex: 1 1 75%;

  display: grid;
  grid-template-columns: [col-1-start] 2rem [col-1-end col-2-start] 1fr [col-2-end col-3-start] 2rem [col-3-end];
  grid-template-rows:
    [row-1-start] minmax(min-content, 10rem)
    [row-1-end row-2-start] 40rem [row-2-end row-3-start] minmax(
      min-content,
      15rem
    )
    [row-3-end];
  column-gap: 1rem;
}

.projects-slider .project {
  grid-column: col-1-start / col-2-end;
  grid-row: row-2-start / row-2-end;
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 0.7rem 0.2rem rgba(0, 0, 0, 0.1);
  background: linear-gradient(
      rgba(136, 146, 176, 0.3),
      rgba(136, 146, 176, 0.3)
    ),
    url('assets/sail.png');
  background-size: cover;
  background-position: center;
}

.projects-slider .project:hover {
  background-image: url('assets/sail.png');
}

.project .project__content {
  position: absolute;
  top: calc(100% - 5rem);
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(41, 61, 90, 0.99);
  color: rgb(168, 178, 209);
  box-shadow: 0 1rem 0.7rem 0.2rem rgba(0, 0, 0, 0.1);
}

.project__content .header {
  display: flex;
}

.project__content .header .icons {
  margin-left: auto;
}

.project__content .header .icons a {
  color: rgb(168, 178, 209);
}

.project__content .header .icons svg {
  margin: 0 0.3rem;
}

.project__content .header .title {
  font-size: 1.6rem;
  color: #fff;
}

.project__content .description {
  font-size: 1.4rem;
}

.project__content .technologies {
  display: flex;
  flex-wrap: wrap;
}

.project__content .technologies .technology {
  padding: 0.1rem 0.5rem;
  margin: 0.2rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(100, 114, 161);
  border-radius: 1rem;
}

.projects-slider .controllers {
  grid-column: col-3-start / col-3-end;
  grid-row: row-2-start / row-3-end;
}

.controllers .control {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #eee;
  transition: background-color 0.6s ease;
}

.control.active {
  background-color: rgba(41, 61, 90, 0.99);
}

.contact {
  grid-column: 1 / -1;
  color: rgba(41, 61, 90, 0.99);
  display: flex;
  align-items: center;
}

.contact svg {
  margin-right: 2rem;
}

.contact .line {
  width: 10rem;
  height: 0.1rem;
  background-color: rgba(41, 61, 90, 0.99);
  margin-right: 2rem;
}

.line.start {
  width: 2rem;
}

.line.end {
  flex: 1;
}

.arrow {
  color: rgba(41, 61, 90, 0.99);
  justify-self: center;
  grid-column: 2 / span 1;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow svg {
  width: 3rem;
  height: 3rem;
}

.arrow:hover {
  background-color: #efefef;
}

.arrow.top {
  grid-row: 1 / span 1;
  align-self: start;
  color: rgba(41, 61, 90, 0.99);
}

.arrow.bottom {
  grid-row: 3 / span 1;
  align-self: end;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
